<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Angular Test</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div ng-app="EUNOMIA" class="candidateSearch">
		<!--<h1>Find Your Elected Officials</h1>-->
		<div ng-controller="OfficialsGoogleCtrl">
		<!-- Declare controller to use -->
			<label for="search">
			    <input type="text" name="search" id="search" ng-model="searchQuery" placeholder="Enter Your Zip Code">
				<!-- Setup to use for filtering later -->
			    <input class="btn" type="button" name="submit" ng-click="getOcdId()" value="Search">
            </label>
			<div id="wrapper">
				<!-- tabs -->
				<div class="divisionTab" >
                    <ul class="tabs">
                        <li ng-repeat="level in levels" ng-class="{active: isSelected(level)}">
                            <a ng-click="clickTab(level)">{{level}}</a>
                        </li>
                    </ul>
				     <div class="office" ng-repeat="office in offices" ng-if="office.level == activeLevel">
					    <div class="official" ng-repeat="official in office.officialIds"  ng-class="changeClass(officials[official].party)" >
					    	<h2>{{office.name}}</h2>

							<div class="photo">
        	                    <img ng-src="{{officials[official].photoUrl}}" />
        	                </div>
        	                <h3>{{officials[official].name}}</h3>
        	               
        	                <!--<h4>Level: {{office.level}}</h4>-->

							</div><!-- official ends -->
				    </div><!-- office ends -->
				</div><!-- division tab ends -->
				<!-- tab ends -->

			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
	<script>

		var EUNOMIA = angular.module('EUNOMIA', []);
		//create the app named EUNOMIA

		
		
		/*==============================================================*/
		/*==============================================================*/
		/*================ GOOGLE CIVIC INFORMATION API ================*/
		/*==============================================================*/
		/*==============================================================*/
		
		// URL for Representative Lookup:
		// https://www.googleapis.com/civicinfo/us_v1/representatives/lookup?key={YOUR_API_KEY}
		
		// API KEY :
		// AIzaSyDdPvQ-R7FGD7RA9rMJO8NS2eKi910Gp6g
		
		
		EUNOMIA.factory('officialsGoogleFactory', function($http) {
            return{
                getOfficials : function(options) {
                    options = options ? options : "";
                    var optionList = "";
                    angular.forEach(options, function(value, key) {
                        optionList += key + "=" + value + "&";
                    });
                    optionList = optionList ? optionList : "";
                    return $http({
                        url: 'https://www.googleapis.com/civicinfo/us_v1/representatives/lookup?'+optionList+'key=AIzaSyDdPvQ-R7FGD7RA9rMJO8NS2eKi910Gp6g',
                        method: 'POST'
                    });
                }
            }
        });

		function OfficialsGoogleCtrl($scope, $location, $http, officialsGoogleFactory, $q) {
			$scope.officials = [];
			$scope.levels = ['federal','state','local'];
            $scope.activeLevel = "";
			$scope.getOcdId = function() {
                $http({
                    url: 'http://zip.getziptastic.com/v2/US/'+$scope.searchQuery,
                    method: 'GET'
                }).error(function(data) {
					$scope.states = [
						'al','ak','az','ar','ca','co','ct','de','fl','ga','hi','id','il','in','ia','ks','ky','la','me','md','ma','mi','mn','ms','mo','mt','ne','nv','nh','nj','nm','ny','nc','nd','oh','ok','or','pa','ri','sc','sd','tn','tx','ut','vt','va','wa','wv','wi','wy'
					];
					var officialId = 0,
						officeIndex = 0,
						officialIndex = 0,
						all = {
							offices: {},
							officials: {}
						};
					angular.forEach($scope.states, function(value,key) {
						officialsGoogleFactory.getOfficials({
							includeOffices: true,
							fields: "offices,officials",
							ocdId: "ocd-division/country:us/state:"+value
						}).success(function(data) {
							angular.forEach(data.offices, function(value,key) {
								var tmp = value;
								angular.forEach(tmp.officialIds, function(value,key) {
									tmp.officialIds[key] = officialId++;
								});
								all.offices[officeIndex++] = tmp;
							});
							angular.forEach(data.officials, function(value,key) {
								all.officials[officialIndex++] = value;
							});
						});
					});
					$q.all(all).then(function() {
						$scope.offices = all.offices;
						$scope.officials = all.officials;
					});
				}).success(function(data) {
					officialsGoogleFactory.getOfficials({
						includeOffices: true,
						fields: "offices,officials",
						ocdId: "ocd-division/country:us/state:"+data.state_short.toLowerCase()
					}).success(function(data) {
						$scope.offices = data.offices;
						$scope.officials = data.officials;
					});
                });
			};
			
			$scope.tab = $scope.levels[0]; //starts on first tab
            $scope.activeLevel = $scope.levels[0];
            $scope.clickTab = function(setTab){
                $scope.tab = setTab;
                $scope.activeLevel = setTab;
            };

            $scope.isSelected = function(checkTab){
                return $scope.tab === checkTab; //T or F
            };
            
            $scope.changeClass = function(party){
                if(party === 'Republican'){
                    return "republican";
                }
                else if (party === 'Democratic'){
                    return "democratic";
                }
                else {
                    return "";
                }
            };
		}
		
	</script>
</body>
</html>