<ion-view view-title="Address">
  <ion-content class="padding">
    <h1>Enter Your Address</h1>
     <form name="addressForm" novalidate="" ng-submit="getAddress(addressForm)">

        <div class="list list-inset">
            <label class="item item-input" ng-class="{ 'has-error' : addressForm.street.$invalid && addressForm.street.$touched}">
                <input type="text" placeholder="Street" name="street" ng-model="address.street" ng-minlength="5" ng-maxlength="95" required>
                <p ng-show="addressForm.street.$invalid && !addressForm.street.$pristine" class="help-block">Your street is required.</p>
                <div class="help-block" ng-messages="addressForm.street.$error" ng-show="addressForm.street.$touched">
                  <p ng-message="minlength">Your street is too short.</p>
                  <p ng-message="required">Your street is required.</p>
                </div>
            </label>

            <label class="item item-input" class="item item-input" ng-class="{ 'has-error' : addressForm.city.$invalid && addressForm.city.$touched}">
                <input type="text" placeholder="City" name="city" ng-model="address.city" ng-minlength="2" ng-maxlength="80" required>
                <div class="help-block" ng-messages="addressForm.city.$error" ng-show="addressForm.city.$touched">
                    <p ng-message="minlength">Your city is too short.</p>
                    <p ng-message="required">Your city is required.</p>
                </div>
            </label>
            <label class="item item-input" class="item item-input" ng-class="{ 'has-error' : addressForm.state.$invalid
            && addressForm.state.$touched}">
                <input type="text" placeholder="State" name="state" ng-model="address.state" minlength="2" maxlength="2" required>
                <div class="help-block" ng-messages="addressForm.state.$error" ng-show="addressForm.state.$touched">
                    <div ng-messages-include="templates/errors.html"></div>
                </div>
            </label>
            <label class="item item-input" class="item item-input" ng-class="{ 'has-error' : addressForm.zip.$invalid && addressForm.zip.$touched}">
                <input type="text" name="zip" placeholder="Zip Code" ng-model="address.zip" ng-minlength="5" maxlength="5" required>
                <div class="help-block" ng-messages="addressForm.zip.$error" ng-show="addressForm.zip.$touched">
                    <p ng-message="minlength">Your zip code is too short.</p>
                    <p ng-message="required">Your zip code is required.</p>
                </div>
            </label>
        </div>
        <button type="submit" class="button icon-right ion-chevron-right button-block button-energized" ng-disabled="addressForm.$invalid">
        Search
        </button>
     </form>
      <div class="has-errors">Street: {{address.street}}</div>
      <div class="no-errors">City: {{address.city}}</div>
      <div>State: {{address.state}}</div>
      <div>Zipcode: {{address.zip}}</div>

 </ion-content>
</ion-view>

